@CHARSET "UTF-8";

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
	margin: 0;
	padding: 0;
} 

body{
	/* font: 12px/150% Arial,Verdana,"\5b8b\4f53";  */
    font: 12px/150% Arial, Verdana, "宋体";
	/* font-family:"microsoft yahei";
	color:#666;  */
}

ul,li,ol{
	list-style:none;
}

A { 
color: #666666; 
} 
A:link { 
color: #666666; 
text-decoration: none; 
} 
A:visited { 
color: #666666; 
text-decoration: none; 
} 
A:hover { 
color: #C90809; 
text-decoration: none; 
} 


.login-header>.panel-header{
	background-color: #b52b27;
	text-align: center;
	/* line-height: 45px; */
}


#header{
	position:relative;
	width:100%;
	background-color: rgb(221, 221, 221);
} 

#header .header-top{
	position:relative;
	/* width:900px; */
	width:1050px;
	height:30px;
	margin:0 auto;
}


.header-title{
	position:absolute;
	left:30px;
	width:190px;
	height:25px;
	
	padding-top: 5px;
}

.header-menu{
	position:absolute;
	right:50px;
	width:600px;
	height:30px;
}

.menu-list{
	margin-top: 5px;
	float:right;
} 
.menu-list li{
	float:left;
	margin-right:10px;
}





/* search */

.index-search{
	position:relative;
	width:100%;
	height:auto;
	background-color: #ffffff;
}


.w {
	position:relative;
	/* top:30px; */
	/* width:900px; */
	width:1050px;
	height:100px;
	margin:0 auto;
}

.w .logo {
    position: absolute;
    width: 256px;
    height: 100px;
    background-image:url(../front_image/2.jpg);        /* 页面背景图片 */
	/* background-repeat:no-repeat;		图片只在垂直方向重复
	//background-position:bottom right;	背景图片的位置，右下*/
	/* background-attachment:fixed;		固定背景图片  */


}

.search .text {
    float: left;
    width: 370px;
    height: 24px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-top: 40px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}


.search .button {
    float: left;
    width: 82px;
    height: 36px;
    margin-top: 40px;
    background-color: #B61D1D;
    border: none;
    line-height: 35px;
    text-align:center;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}

.w .search {
    position: absolute;
    right:20px;
    width: 462px;
	height:100px;
}
form .login-form{
	position: relative;
	top:20px;
	left:20px;
	width:300px;
	height:auto;
	/* background-color: blue; */
}

form .form-item-error{
	/* margin-top:20px; */
	position:relative;
	top:12px;
	height: 25px;
	width: 310px;
	border: 1px solid #b52b27;
	/* z-index:3; */
	
	line-height: 22px;
	text-align:center;
	font-family: '\5b8b\4f53';
	color:#b52b27;
	display: none;
	/* background-color: red; */
}
form .form-item{
	/* position: relative; */
	/* margin-top:30px;
	margin-left:20px; */
	margin-top:20px;
	border: 1px solid #bdbdbd;
	height: 38px;
	width: 310px;
}

.form-item .form-item-name{
	float:left;
	height: 38px;
	width: 40px;
	border-right:1px solid #bdbdbd;
	background-image:url("../front_image/name-icons.png");
	background-color: #d7d7d7;
}

.form-item .form-item-itxt{
	float:left;
	height: 36px;
	width:260px;
	border: 0;
	line-height: 18px;
	font-size: 14px;
	font-family: '\5b8b\4f53';
}


.form-item .form-item-pwd{
	float:left;
	height: 38px;
	width: 40px;
	background-image:url("../front_image/pwd-icons.png");
	border-right:1px solid #bdbdbd;
	background-color: #d7d7d7;
}

.form-item .form-item-submit{
	float:left;
	height: 38px;
	width: 310px;
	line-height:40px;
	text-align: center;
	background-color: #b52b27;
}

.form-item .form-item-submit span{
	font-size: 20px;
	color: #ffffff;
}
